.infoBox {
  width: 100%;
  height: 100%;
  padding-left: 1rem;

  .infoBoxTitle {
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
  }

  .infoBoxSpanPanel {
    display: flex;
    width: 100%;

    .telephoneIcon {
      width: 13%;
      float: left;

      background: deepskyblue;
      -webkit-mask: url(../../../../../icon/telephone-icon.svg) no-repeat 50% 40%;
      mask: url(../../../../../icon/telephone-icon.svg) no-repeat 50% 40%;
    }

    .infoBoxText {
      width: 40%;
    }

    .infoBoxValue {
      width: 40%;
      color: deepskyblue;
    }
  }
}